<!doctype html>
<html>
<head>
<title>Meadowlark Travel</title>
</head>
<body>
	<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
	<a href="/about" id='about'> click</a> <a href="/" id='home'> click</a>
	{{{body}}}
	<script type="text/javascript">
		let i = 0 ;
		setInterval(()=>{
			about.innerText = 'link'+ i++;
			home.innerText = 'link'+ i;
		},1000)
	</script>
</body>
</html>